.sub-header
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  flex-wrap wrap
  margin-bottom 24px

  &__back
    color var(--new-UI-01)
    margin-right 16px
    display none

    @media $tablet
      display initial

  &__text
    font-weight bold
    font-size 22px
    line-height 36px
    margin-right 16px
    flex-shrink 0
    flex-grow 2

  &__switch
    max-width 500px

.search-input
  margin-bottom 24px

/deep/ .input
  padding-right 24px
  padding-left 72px
  height 44px
  min-height 44px
  box-sizing border-box
  font-size 18px
  line-height 32px

/deep/ .input__icon
  left 27px

.add-button
    margin-left 16px
    height 80px

/deep/ .ui-button__icon-bg
    width 40px
    height 40px
    border 1px solid var(--new-stroke-01)
    margin-right 16px

    & .icon
      width 20px
      height 20px