@import '../sdk/styles/global.styl'

$mobile-width = 767px

$mobile = '(max-width:' + $mobile-width + ')';
$desktop = '(min-width:' + ($mobile-width + 1) + ')';


.auth-page
  position absolute
  z-index 0
  width 100%
  background #FFFFFF
  height 100%
  //visibility hidden
