/**
 * Reset styles
 */
*
  margin 0
  padding 0
  min-width 0
  scroll-behavior smooth

a
  color inherit
  text-decoration none
  //display block
  cursor pointer

/**
 * Basic global styles
 */
html
  font-family Inter, sans-serif
  font-size 14px
  line-height 18px
  --text-tech-0: #DE4B39;
  --text-tech-1: #27AE60;
  --text-tech-2: #1575F1;
  --text-tech-3: #FFFFFF;
  --color-0: #DE4B39;
  --color-1: #27AE60;
  --color-2: #1575F1;
  --color-3: #FDCB4B;
  --color-4: #B1B3B5;
  --color-5: #000000;
  --stroke-0: #F6D4CF;
  --stroke-1: #C9EAD7;
  --stroke-2: #C4DCFB;
  --stroke-3: #D7D8D9;
  --button-bg-0: #FDF6F5;
  --button-bg-1: #F4FBF7;
  --button-bg-2: #F3F8FE;
  --button-bg-3: #FFFFFF;
  --button-bg-4: #E6E6E6;
  --button-bg-5: transparent;
  --button-bg-6: #E6E6E6;
  --button-bg-7: transparent;
  --icon-bg: #E8F2FE;
  --input: #F2F2F2;
  --item-bg-hover: #F2F2F2;
  --item-bg-active: #FFFFFF;
  --item-bg-multi-pick: #F4FBF7;
  --shadow-10: rgba(0,0,0,0.1);
  --shadow-15: rgba(0,0,0,0.15);
  --shadow-20: rgba(0,0,0,0.2);
  --shadow-50: rgba(0,0,0,0.5);
  --app-bg: #FFFFFF;
  --line-stroke: #D6D8DA;
  --item-bg-hover: #F2F2F2;
  --text-0: #000000;
  --text-1: #76787B;
  --icon-0: #000000;
  --icon-1: #76787B;
  --icon-2: #B1B3B5;
  --button-bg-5: transparent;
  --scroll-bar: 0, 0, 0;

body
  line-height 1.5
  margin 0 auto

/**
 * Layout class generator
 */
generateLayoutClasses($layout-grid)
  for $n in $layout-grid
    /** Margin classes */
    &m-{$n}
      margin $n * 1px

    &mt-{$n}
      margin-top $n * 1px

    &mr-{$n}
      margin-right $n * 1px

    &mb-{$n}
      margin-bottom $n * 1px

    &ml-{$n}
      margin-left $n * 1px

    /** Padding classes */
    &p-{$n}
      padding $n * 1px

    &pt-{$n}
      padding-top $n * 1px

    &pr-{$n}
      padding-left $n * 1px

    &pb-{$n}
      padding-bottom $n * 1px

    &pl-{$n}
      padding-left $n * 1px

/**
 * Layout helper classes .l-{style}-{value}
 *
 * @example
 *   `l-mt-8` means `margin-top: 8px`
 */
.l-
  $sizes = 4, 8, 10, 12, 16, 18, 24, 36, 48
  generateLayoutClasses($sizes)

/**
 * Font weight 500
 */
.l-fw-m
  font-weight 500

/**
 * Font size 12px
 */
.l-fs-12
  font-size 12px

/**
 * Font size 18px
 */
.l-fs-18
  font-size 18px

/**
 * Scroll bar styles
 */
@css{
  .scroll{
    overflow: hidden overlay;
  }
  .scroll--vh{
    overflow: overlay;
  }
  .scroll::-webkit-scrollbar {
    width: 7px;
    box-shadow: inset 0 0 10px 10px rgba(var(--scroll-bar), 0);
    border: solid 2.5px transparent;
    border-radius: 100px;
  }
  .scroll::-webkit-scrollbar:horizontal {
    height: 7px;
  }
  .scroll:hover::-webkit-scrollbar{
      box-shadow: inset 0 0 10px 10px rgba(var(--scroll-bar), 0.05);
  }

  .scroll::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgba(var(--scroll-bar), 0);
    border-radius: 100px;
    border: solid 2.5px transparent;
  }

  .scroll::-webkit-scrollbar:hover{
      border: solid 1.5px transparent;
      box-shadow: inset 0 0 10px 10px rgba(var(--scroll-bar), 0.08);
  }

  .scroll::-webkit-scrollbar-thumb:hover{
      border: solid 1.5px transparent;
      box-shadow: inset 0 0 10px 10px rgba(var(--scroll-bar), 0.2);
  }

  .scroll:hover::-webkit-scrollbar-thumb{
      box-shadow: inset 0 0 10px 10px rgba(var(--scroll-bar), 0.15);
  }

  .scroll::-webkit-scrollbar-thumb:active {
    box-shadow: inset 0 0 10px 10px rgba(var(--scroll-bar), 0.35);
  }

  .scroll::-webkit-scrollbar-corner{
    background: transparent;
  }

}
